In [ ]:
# Q1 Write a code to create a string with your name and print it?
 """Here's a simple Python program that creates a string with your name and prints it:"""
 # Create a string with your name
my_name = "Harshal Kamble"

# Print the string
print("My name is:", my_name)

In [ ]:
#Q2 Write a code to find the length of the string "Hello World".
# Define the string
text = "Hello World"

# Find and print the length of the string
print("Length of the string:", len(text))
# The len() function returns the number of characters in the string, including spaces.

In [ ]:
#Q3 Write a code to slice the first 3 characters from the string "Python Programming"?
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

print("First 3 characters:", sliced_text)

In [ ]:
#Q4: Convert the string "hello" to uppercase
text = "hello"

# Convert to uppercase
upper_text = text.upper()

print("Uppercase:", upper_text)

In [ ]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

print(new_text)

In [ ]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it ?
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]?
# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

In [ ]:
# 8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove 3 from the list
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("Second element:", second_element)

In [ ]:
# 10 Write a code to reverse the list [10, 20, 30, 40, 50].
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

In [ ]:
# Â 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
# Create the tuple
numbers = (100, 200, 300)

# Print the tuple
print("Tuple:", numbers)

In [1]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element (index -2)
second_last = colors[-2]

# Print the second-to-last element
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

print("Minimum number:", min_number)

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_of_cat = animals.index("cat")

print("Index of 'cat':", index_of_cat)

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")

# Check if "kiwi" is in the tuple
is_kiwi_present = "kiwi" in fruits

print("Is 'kiwi' in the tuple?", is_kiwi_present)

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
# Create the set
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}

# Clear the set
my_set.clear()

print("Cleared set:", my_set)

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}

# Remove the element 4
my_set.remove(4)

print("Updated set:", my_set)

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union of the sets
union_set = set1.union(set2)

print("Union:", union_set)

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Intersection of the sets
intersection_set = set1.intersection(set2)

print("Intersection:", intersection_set)

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
# Create the dictionary
person = {
    "name": "Harshal",
    "age": 21,
    "city": "Mumbai"
}

# Print the dictionary
print("Dictionary:", person)

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

print("Updated dictionary:", person)

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}

# Access value
name_value = person['name']

print("Name:", name_value)

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove 'age'
del person['age']

print("Updated dictionary:", person)

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}

# Check key existence
if 'city' in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'x': 10, 'y': 20}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

# Generate 5 random numbers
random_numbers = random.sample(range(1, 101), 5)

# Sort in ascending order
random_numbers.sort()

print("Sorted random numbers:", random_numbers)

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_strings = ["apple", "banana", "cherry", "date", "elderberry"]

# Access element at index 3
print("Element at index 3:", my_strings[3])

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine
combined = {**dict1, **dict2}

print("Combined dictionary:", combined)

In [ ]:
# 30. Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "cherry", "banana"]

# Convert to set
string_set = set(string_list)

print("Set:", string_set)